html {
  height: 100%;
}
body {
  margin: 0;
  display: -webkit-box;
  height: inherit;
  font-family: Verdana;
}
.arrow {
  display: block;
  background: #cee3f8;
  color: #b6b6b6;
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#previous, #next {
  padding: 0 4px;
}
.middle {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
}
.content {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-align: stretch;
}
.post_container {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-animation: width 1s ease-out;
}
.post_title {
  display: block;
}
.post {
  display: block;
  border: none;
  -webkit-box-flex: 1;
}
